<!DOCTYPE html>
<html lang="en">
  <head>
  	
  </head>
  <body>
  	<!-- Rendering the navigation bar -->
  	<%= render partial: 'layouts/navbar' %>
    <h1>Your Saved Trips</h1>
    <% none = 0 %>
    <% @trips.each do |trip| %>
      <% if trip.user_id == session.id %>
        <div class="col-sm-6 col-md-4 col-lg-4">
      	  <div class="thumbnail">
      	  	<div class="caption">
      		  <h3><%= trip.name %></h3>
			  <p><%= trip.description %></p>
			  <% yelp = trip.json %>
			  <% yelp = yelp.split(",") %>
			  <% yelp.each do |yelp| %>
			    <%= yelp %> <br>
			  <% end %>
      		</div>
      	  </div>
        </div>
        <% none += 1 %>
      <% end %>
	<% end %>
	
	<% if none == 0 %>
	  <p>There aren't any saved trips.</p>
	<% end %>
  
  </body>
</html>



