<!DOCTYPE html>
<html lang="en">
  <head>
  	
  </head>
  <body>
    <h1>Your Saved Trips</h1>
    <% @trips.each do |trip| %>
	  <tr> 
	    <% if trip.user_id == session.id %>
	      Title : <td><%= trip.name %></td><br>
	      Description : <td><%= trip.description %></td><br>
	      Places : <td><%= trip.json %></td><br><br><br>
	    <% end %>
	  </tr>	
	<% end %>
  </body>
</html>
