<!DOCTYPE html>
<html lang="en">
  <head>
  	
  </head>
  <body>
	  <h1>Welcome to Jaunts!</h1>
	  <% cookie = TripsController.new %> <br>
	  <div>
	    <%= link_to "Create Jaunt", trips_itinerary_url %>
	  </div>
  	</body>
</html>
