<!DOCTYPE html>
<html lang="en">
  <head>
  	
  </head>
  <body>
	  <div class="jumbotron">
	  	<h1>Jaunts!</h1>
	  	<p>- A brief trip taken for pleasure.</p>
	  </div>
	  
	  <div class="page-header">
	  	<h1>Discover the city</h1>
	  </div>
	  
	  <div class="display">
	    <% test = TripsController.new %>
	    <% holder = test.index %>
	    <% holder.each do |trip| %>
	      <%= trip.name %> <br> 
	    <% end %>
	  </div>
  	</body>
</html>
