<!DOCTYPE html>
<html lang="en">
  <head>
  	
  </head>
 
  <body>
  	<div class="jumbotron">
	  <h1 id="title">Jaunts are</h1>
	  <p id="description">A brief trip taken for pleasure</p>
	  <br><br><br> 
	</div>
	  
	<div class="display">
	  <h1>Discover the city you are in...</h1>
	  <% test = TripsController.new %>
	  <% holder = test.index %>
	  <% holder.each do |trip| %>
	    <%= trip.name %> <br> 
	    <%= trip.json %> <br>
	    Well this is interesting <br> 
	  <% end %>
	</div>
	  
	<div>  	
	</div>
	
	
  </body>
</html>
