<!DOCTYPE html>
<html lang="en">
  <head>
  	
  </head>
 
  <body>
  	<div class="jumbotron">
	  <h1 id="title">Jaunts are</h1>
	  <p id="description">A brief trip taken for pleasure</p>
	  <br><br><br> 
	</div>
	  
	<div class="display">
	  <h1>Discover the city you are in...</h1>
	</div>
	
	<% test = TripsController.new %>
	<% holder = test.index %>


	<div class="row">
	  <% holder.each do |trip| %>
	    <div class="col-xs-6 col-md-4" style="padding-left: 60px;padding-right: 60px;">
	      <div class="thumbnail" style="height: 325px;">
			<% trip_parse = trip.json.split(",") %>
	        <!-- insert image here -->
	        <%= image_tag('NoImage.jpg', size: "150x150") %>
	        <div class="caption">
			  <%= trip.name %> 
	        </div>
	        <div class="description">
	        	<%= trip.description %>
	        </div>
	        <div class="places">
	        	
	        </div>
	      </div>
	  </div>
	  <% end %>
	</div>

  </body>
</html>
