// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collapse, .nav {
  background-color: #00628B; 
  font-family: "Sans-serif";  
  font-size: 12px;
  padding-right: 20px; 
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 92.5%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #E6EFF3;
}
