// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#display-body {
  padding-left:50px; 
  padding-right:50px;
}

#save-form, #cool-button{
  background:none;border:solid;border-color:#00628B;color:#00628B;font-weight:bold;
}

